.infocard-list-evo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.infocard {
    width: 150px;
    vertical-align: middle;
    display: inline-block;
    padding: 0 .75rem 2rem;
    line-height: 1.25;
    text-align: center;
}

.infocard-lg-img {
    display: block;
    vertical-align: middle;
}

.img-sprite {
    width: 120px;
    height: 120px;
}

.img-fixed {
    display: inline-block;
    max-width: none;
    vertical-align: middle;
}